#*
 * Copyright 2021 - TOOP Project
 *
 * This file and its contents are licensed under the EUPL, Version 1.2
 * or – as soon they will be approved by the European Commission – subsequent
 * versions of the EUPL (the "Licence");
 *
 * You may not use this work except in compliance with the Licence.
 * You may obtain a copy of the Licence at:
 *
 *       https://joinup.ec.europa.eu/collection/eupl/eupl-text-eupl-12
 *
 * Unless required by applicable law or agreed to in writing, software distributed under the Licence is distributed on an "AS IS" basis,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *
 * See the Licence for the specific language governing permissions and limitations under the Licence.
 *#
#include("/templates/css.vm")
<div class="card">
    <div class="header">
        <h1>Elonia DP is up and running!</h1>
    </div>
    <hr>
    <h2>Configuration:</h2>
    <ul  style="list-style-type:none;">
        <li>GBM datasets loaded from: <b>$config.getDp().datasetGBM</b></li>
        <li>Document datasets loaded from: <b>$config.getDp().datasetDocument</b></li>
        <li>Server allows cross origin requests: <b>$config.getServer().cors</b></li>
        <li>Server port: <b>$config.getServer().port</b></li>
        <li>Server receives requests on path: <b>$config.getDp().getToop().receive</b></li>
        <li>Server submits responses to: <b>$config.getDp().getToop().submit</b></li>
    </ul>
    <h2>Useful links</h2>
    <ul  style="list-style-type:none;">
        <li>
            <a href="/datasets">View all the available datasets</a>
        </li>
        <li>
            <a href="/reload">Reload the datasets from filesystem</a>
            <br>
            This will show the loaded datasets afterwards
        </li>
    </ul>
</div>
